.message_container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  main {
    margin-top: 10px;
    section {
      margin-top: 10px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 3px 3px 5px #757575;
    }
  }
}