.icon_href {
  cursor: pointer;
  :hover {
    main {
      border-radius: 10px;
      background-color: #ffa000;
      color: #212121;
    }  
  }
}

.icon {
  margin: 5px;
  main {
    margin: 0 1px 0 1px;
    padding: 0 3px 0px 3px;
    transition: all 0.8s;
  }
}

.left {
  display: flex;
  flex-direction: row;
}

.top {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: row;
}

.bottom {
  display: flex;
  flex-direction: column;
}