.binary_label {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
}