.catalog {
  overflow: hidden;
  ul {
    max-height: 330px; 
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #e57373 #bdbdbd;
    scrollbar-width: thin;
    li {
      margin-top: 10px;
      padding: 2px;
      color: #757575;
    }
    .adH1 {
      font-size: 15px;
    }
    .adH2 {
      margin-left: 6px;
      font-size: 12px;
    }
    .adH3 {
      margin-left: 12px;
      font-size: 10px;
      list-style: quote($string: "-- ");
    }
  }
  ul::-webkit-scrollbar {
    width: 3px;
    border-radius: 50%;
  }
  ul::-webkit-scrollbar-thumb {
    background-color: #e57373;
  }
  ul::-webkit-scrollbar-track {
    background-color: #bdbdbd;
  }
}




#now_li {
  color: aqua;
  font-weight: bold;
}