@font-face {
  font-family: "AqumCap";
  src: url(../public/font/Aqum-2-Small-caps-3.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* 悼念专用样式*/
  /* -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera  */
  /* filter: grayscale(100%) */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 14px;
}

span[title="text_link"] {
  margin: 0 3px 0 3px;
  color: #0097a7;
  cursor: pointer;
  border-bottom: 1px #757575 solid;
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
}

input::-webkit-input-placeholder {
  color: #aab2bd;
  font-size: 12px;
  letter-spacing: 1px;
}

button {
  outline: none;
  border: 0;
}

textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px #bdbdbd solid;
  border-radius: 0 0 10px 10px;
}

.global_avatar_href {
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all 0.5s;
}

.global_avatar_href:hover {
  border-color:#ef5350;
}